@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
body {
    @apply font-outfit; 
  }
  a.active hr{
    display: block;
  }
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}
::-webkit-inner-spin-button{
  display: none;
}